@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Luxurious+Script&family=Merriweather:opsz,wght@18..144,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


:root {
    --c: #86450f; /* coklat */
    --bg: #f3f3f3; /* abu-abu muda */
    --silver: #505050; /* silver */
    --g: #ffbb00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

body {
    background: url('assets/background.jpg') no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;   /* biar full */        /* body ga bisa scroll */
    width: 100%;
    min-height: 100%;
    font-family: "Source Serif 4", serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 95px;
    font-family: "Carattere", cursive;
    color: var(--c);
    font-weight: 400;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: "Carattere", cursive;
    color: var(--c);
}

h3 {
    font-family: "Source Serif 4", serif;
    color: var(--c);
    font-weight: 400;
}

h4 {
    font-family: "Source Serif 4", serif;
    color: var(--c);
    font-weight: 400;
}

h5 {
    font-weight: 400;
    color: var(--c);
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

p {
    color: var(--c);
    margin-bottom: 5rem;
    padding: 0 10%;
}

a {
    text-decoration: none;
    color: var(--c);
}

.slide-bottom {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-bottom.show {
    opacity: 1;
    transform: translateY(0);
}

.slide-bottom:nth-child(1) { transition-delay: 0.2s; }
.slide-bottom:nth-child(2) { transition-delay: 0.4s; }
.slide-bottom:nth-child(3) { transition-delay: 0.6s; }

.zoom-in {
    opacity: 0;
    transform: scale(0.7); /* mulai lebih kecil */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.zoom-in.show {
    opacity: 1;
    transform: scale(1); /* jadi ukuran normal */
}

/* Splash Screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(112, 1, 1, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity 1s ease, visibility 1s ease;
}

.splash-content .ornamen-batas {
    width: 400px;
    margin: 0 auto;
}

.splash-content h1 {
    font-family: "Carattere", cursive;
    font-size: 8rem;
    color: var(--g);
    margin: 0.5rem 0 4rem 0;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.splash-content h5 {
    font-size: 1.5rem;
    color: var(--g);
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

.splash-content h4 {
    position: relative;
    top: 3rem;
    font-size: 1.1rem;
    color: var(--g);
    margin: 0.5rem 0 1rem 0;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}
.splash-content h3 {
    position: relative;
    top: 6rem;
    font-size: 1.5rem;
    color: var(--g);
    margin: 0.5rem 0 1rem 0;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

.splash-content p {
    font-size: 1.2rem;
    color: var(--g);
    margin: 0.25rem 0;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

.splash-content .nama-tamu {
    font-size: 3rem;
    color: var(--g);
    margin: 0.5rem 0 1rem 0;
    font-weight: bold;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

.splash-content .ob1 {
    position: relative;
    top: 2rem;
    width: 20rem;
    color: var(--g);
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

.splash-content .ob2 {
    position: relative;
    bottom: 2rem;
    width: 20rem;
    color: var(--g);
}

.splash-content .guest {
    position: relative;
    top: 2rem;
}

.splash-content button {
    background: var(--g);
    color: var(--c);
    border: none;
    padding: 6px 19px;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2.3rem;
    transition: background 0.3s;
    font-family: "Source Serif 4", serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
}

.splash-content button:hover {
    background: white;
    color: var(--c);
}

/* Tombol Musik */
.music-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 999;
    transition: transform 0.3s ease, background 0.3s ease;
}

.music-btn:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4% auto;
    padding: 4% 0;
    background: rgba(255, 255, 255, 0.87);
    box-shadow: 0px 2px 8px rgba(105, 105, 105, 0.329);
    width: 900px;
    min-height: 500vh;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 1s ease;
}

.container.show {
    opacity: 1;
}

.hidden {
    display: none;
}

.hal-pertama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

.title img {
    width: 250px;
}

.title h1 {
    margin: 50px 0 150px 0;
}

.save-the-date {
    width: 100%;
    font-family: "Merriweather", serif;
    margin-bottom: 1px;

}

.save-the-date a { 
    display: inline-block;
    border-radius: 50px;
    padding: 8px 20px;
    background: var(--c);
    box-shadow: 0px 2px 8px rgba(105, 105, 105, 0.329);
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: 0.3s;
    margin-bottom: 10px;
}

.save-the-date a:hover {
    background: white;
    color: var(--c);
}

.save-the-date h2 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.ornamen-batas {
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 10px 0 10px 0;
}

.amplop-digital {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    padding: 30px 0;
}

.title-amplop {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    font-weight: 300;
    color: var(--c);
    margin-bottom: 20px;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.desc-amplop {
    font-size: 1rem;
    color: var(--c);
    margin: 0 auto 10%;
    line-height: 1.6;
}

.card-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bank-card {
    background: linear-gradient(
        to top right,
        rgb(236, 192, 141) 10%, 
        #f8d9b1 50%, 
        rgb(255, 209, 172) 100%);
    border-radius: 15px;
    padding: 2px;
    width: 480px;
    height: 270px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
    position: relative;
}

.bank-logo {
    width: 90px;
    position: absolute;
    top: 20px;
    right: 25px;
}

.nomor {
    font-size: 17px;
    color: rgb(75, 55, 0);
    margin-top: 40px;
    position: relative;
    top: 47px;
}

.rekening {
    position: relative;
    bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
}

.label-nama {
    position: relative;
    bottom: 132px;
    font-size: 17px;
    color: rgb(75, 55, 0);
}

.nama-rekening {
    position: relative;
    bottom: 220px;
    font-size: 22px;
    font-weight: bold;
    color: var(--c);
}

.tanggal {
    position: relative;
    font-size: 15px;
    color: #444;
    left: 60%;
    bottom: 365px;
}

.tanggal span {
    font-size: 19px;
    font-weight: bold;
    color: var(--c);
}

.footer-amplop {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    margin-top: 40px;
    color: #3f3d56;
}

.btn-copy {
    background: #63c76a;
    color: white;
    border: none;
    padding: 9px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 5px;
    transition: all 0.2s ease;
    position: relative;
    left: 78%;
    bottom: 65%;
}

.btn-copy:hover {
    background: #56b65d;
}

.btn-copy.copied {
    background: #2e7d32;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;   /* biar tetep horisontal */
    margin: 8px 0 28px;
    cursor: default;
}

.circle {
    position: relative;
    width: 80px;
    height: 80px;
}

.circle svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.circle circle {
    fill: none;
    stroke-width: 8;
    stroke: rgba(145, 118, 118, 0.226);
}

.circle circle:nth-child(2) {
    stroke: var(--c);
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset 0.5s linear;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.label span {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--c);
}

.label small {
    font-size: 0.7rem;
    color: var(--c);
}

.kata-Kata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4% 0 -3% 0;
}

.kata-Kata h5 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Great Vibes', cursive;
}

.frame {
    width: 80%;
    height: 400px;
    margin: 2rem 0 6rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: default;
    border-radius: 20px;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab .framegold {
    position: relative;
    top: 70px;
    width: 325px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.tab .foto {
    position: relative;
    top: -164px;
    width: 120px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.nama {
    position: relative;
    top: -150px;
    text-align: center;
    z-index: 3;
}

.nama h2 {
    font-size: 3rem;
    font-weight: normal;
    font-family: "Carattere", cursive;
    color: var(--c);
    margin-bottom: 10px;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.nama h3 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Source Serif 4", serif;
    color: var(--c);
    margin-bottom: 5px;
}

.nama h4 {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Source Serif 4", serif;
    color: var(--c);
}

.hal-dua {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--c);
}

.jadwal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.jadwal h5 {
    font-size: 3rem;
    color: var(--c);
    margin: 10px 0 40px 0;
    font-weight: 500;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
    font-family: 'Great Vibes', cursive;
}

.jadwal p {
    font-size: 1.3rem;
    color: var(--c);
    padding: 0 12%;
    line-height: 1.6;
}

.acara {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 40px;
}

.acara-card {
    width: 330px;
    height: 380px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 8px rgba(105, 105, 105, 0.329);
    border: 1px solid rgba(124, 62, 39, 0.384);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
}

.acara-card span {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-bottom: 5px;
}

.acara-card h2 {
    font-size: 2.5rem;
    font-family: 'Great Vibes', cursive;
    color: var(--c);
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.acara-card p {
    font-size: .95rem;
    color: var(--c);
    line-height: 1.6;
    margin: 3px 0 0 0;
    padding: 0 10px;
    text-align: center;
}

.acara-card .bx {
    font-size: 2.2rem;
    color: var(--c);
    margin-bottom: 5px;
}


.hal-tiga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.map-iframe {
    width: 700px;
    height: 450px;
    box-shadow: 0px 2px 8px rgba(105, 105, 105, 0.329);
    border: 1px solid rgba(124, 62, 39, 0.384);
    border-radius: 20px;
}

.qs-ar-rum h5 {
    font-family: 'Great Vibes', cursive;
    margin: 30px 0 20px 0;
    font-size: 3rem;
}

.qs-ar-rum {
    font-size: 20px;
    font-style: italic;
    margin-top: 5px;
    color: var(--c);
}

.qs-ar-rum p {
    font-size: 16px;
    color: var(--c);
    margin: 15px 0;
}

.gallery-container {
    max-width: 900px;
    width: 80%;
    text-align: center;
}

.gallery-container h1 {
    font-size: 3.5rem;
    font-family: 'Great Vibes', cursive;
    color: var(--c);
    margin: 5px 0 20px 0;
    font-weight: 500;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.gallery-container p {
    margin: 10px 0 50px 0;
}

/* SLIDER */
.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

/* BUTTONS */
.nav {
    position: absolute;
    top: 50%;
    color: var(--c);
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px 12px;
    transition: 0.3s;
}

.nav:hover {
    color: #fff;
}

.prev { left: 10px; }
.next { right: 10px; }

/* DOTS */
.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 7px 25px;
}

.dots button {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    background: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.dots button.active {
    background: var(--c);
}

/* GRID BAWAH */
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.grid-gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s;
}

/* Responsif */
@media (max-width: 900px) {
    .slide {
        flex: 0 0 calc(100% / 2);
    }
    .slide img {
        height: 220px;
    }
}

/* Responsive kecilin aja lingkaran di HP */
@media (max-width: 768px) {
    .circle {
        width: 65px;
        height: 65px;
    }
    .label span {
        font-size: 1rem;
    }
    .slide {
    flex: 0 0 100%;
    }
    .slide img {
        height: 200px;
    }
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .circle {
        width: 55px;
        height: 55px;
    }
    .label span {
        font-size: 0.9rem;
    }
    .gallery-grid {
    grid-template-columns: 1fr;
    }
}