@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Luxurious+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('assets/background.jpg') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    background-size: cover;   /* biar full */        /* body ga bisa scroll */
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}
.foto img {
    width: 150px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4% auto;
    padding: 10% auto;
    background: rgb(204, 81, 81, .95);
    width: 1000px;
    height: 5000px;
    border-radius: 20px;
}

.hal-pertama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 7% auto;
}

h3 {
    
}