@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Luxurious+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
}

.hal1{
    min-width: 30%;
    height: 922px;
    background: url('assets/04.webp');

}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 120px 0;
}

.judul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.judul h6 {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.judul p {
    position: relative;
    bottom: 10px;
    font-size: 80px;
    font-family: "Luxurious Script", cursive;
    color: rgb(253, 193, 102);
}

.undangan {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
        color: #fff;
}

.undangan span {
    font-size: 40px;
    margin-bottom: 26px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 131, 99);
    padding: 10px 20px;
    margin: 0 190px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 8px 2px rgb(0, 0, 0, 0.3);
}


a:hover {
    position: relative;
    top: 2px;
    text-decoration: underline;
    background: #fff;
    color: rgb(255, 168, 96);
}

 /* Animasi umum */
.mymove {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1.5s ease forwards;
}

.mymove2 {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1.5s ease forwards;
}

.mymove3 {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1.5s ease forwards;
}

/* Tambah delay biar muncul bertahap */
.judul { animation-delay: 0.3s; }
.undangan { animation-delay: 0.6s; }


/* Keyframes animasi */
@keyframes slideUp {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}