@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Luxurious+Script&family=Merriweather:opsz,wght@18..144,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --c: #86450f; /* coklat */
    --bg: #f3f3f3; /* abu-abu muda */
    --silver: #505050; /* silver */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

body {
    background: url('assets/background.jpg') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    background-size: cover;   /* biar full */        /* body ga bisa scroll */
    width: 100vw;
    height: 100vh;
    font-family: "Source Serif 4", serif;
}

.slide-bottom {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.slide-bottom.show {
    opacity: 1;
    transform: translateY(0);
}

.slide-bottom:nth-child(1) { transition-delay: 0.2s; }
.slide-bottom:nth-child(2) { transition-delay: 0.4s; }
.slide-bottom:nth-child(3) { transition-delay: 0.6s; }

.zoom-in {
    opacity: 0;
    transform: scale(0.7); /* mulai lebih kecil */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.zoom-in.show {
    opacity: 1;
    transform: scale(1); /* jadi ukuran normal */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4% auto;
    padding: 4% 0;
    background: rgba(255, 255, 255, 0.87);
    box-shadow: 0px 2px 8px rgba(105, 105, 105, 0.329);
    width: 900px;
    min-height: 500vh;
    border-radius: 20px;
}

.title img {
    width: 250px;
}

.hal-pertama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

h1 {
    font-size: 75px;
    font-family: "Carattere", cursive;
    color: var(--c);
    margin: 10px 0 110px 0;
    font-weight: 400;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
}

h2 {
    font-size: 35px;
    font-family: "Carattere", cursive;
    color: var(--c);
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    font-family: "Source Serif 4", serif;
    color: var(--c);
    margin-bottom: 10px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-family: "Source Serif 4", serif;
    color: var(--c);
    font-weight: 400;
}

p {
    font-size: 15px;
    color: var(--c);
    line-height: 1.6;
    margin-bottom: 2rem;
    padding: 0 10%;
}

.save-the-date {
    width: 100%;
    font-family: "Merriweather", serif;
    margin-bottom: 1px;

}

.save-the-date a { 
    display: inline-block;
    border-radius: 50px;
    padding: 8px 20px;
    background: var(--c);
    box-shadow: 0px 2px 8px rgba(105, 105, 105, 0.329);
    text-decoration: none;
    color: var(--bg);
    font-weight: 400;
    transition: 0.3s;
    margin-bottom: 10px;
}

.save-the-date a:hover {
    background: var(--bg);
    color: var(--c);
}

.save-the-date h2 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.ornamen-batas {
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 50px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;   /* biar tetep horisontal */
    margin: 8px 0 8px;
    cursor: default;
}

.circle {
    position: relative;
    width: 80px;
    height: 80px;
}

.circle svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.circle circle {
    fill: none;
    stroke-width: 8;
    stroke: rgba(145, 118, 118, 0.226);
}

.circle circle:nth-child(2) {
    stroke: var(--c);
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset 0.5s linear;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.label span {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--c);
}

.label small {
    font-size: 0.7rem;
    color: var(--c);
}

.kata-Kata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4% 0 -3% 0;
}

.frame {
    width: 80%;
    height: 400px;
    margin: 2rem 0 6rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: default;
    border-radius: 20px;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab .framegold {
    position: relative;
    top: 70px;
    width: 325px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.tab .foto {
    position: relative;
    top: -164px;
    width: 120px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.nama {
    position: relative;
    top: -150px;
    text-align: center;
    z-index: 3;
}

.nama h2 {
    font-size: 3rem;
    font-weight: normal;
    font-family: "Carattere", cursive;
    color: var(--c);
    margin-bottom: 10px;
}

.hal-dua {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--c);
}

.jadwal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.jadwal h1 {
    font-size: 4rem;
    font-family: "Carattere", cursive;
    color: var(--c);
    margin: 10px 0 40px 0;
    font-weight: 500;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.acara {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 40px;
}

.card {
    width: 330px;
    height: 380px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 8px rgba(105, 105, 105, 0.329);
    border: 1px solid rgba(124, 62, 39, 0.384);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
}

.card span {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-bottom: 5px;
}

.card h2 {
    font-size: 2.5rem;
    font-family: "Carattere", cursive;
    color: var(--c);
    font-weight: 500;
    margin-bottom: 35px;
}

.card p {
    font-size: .95rem;
    color: var(--c);
    line-height: 1.6;
    margin: 3px 0 0 0;
    padding: 0 10px;
    text-align: center;
}

.card .bx {
    font-size: 3rem;
    color: var(--c);
    margin-bottom: 5px;
}


.hal-tiga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 7% 0 -3% 0;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;

}

.map iframe {
    width: 700px;
    height: 450px;
    border-radius: 20px;
}


/* Responsive kecilin aja lingkaran di HP */
@media (max-width: 768px) {
    .circle {
        width: 65px;
        height: 65px;
    }
    .label span {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .circle {
        width: 55px;
        height: 55px;
    }
    .label span {
        font-size: 0.9rem;
    }
}