@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Luxurious+Script&family=Merriweather:opsz,wght@18..144,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


:root {
    --c: #86450f; /* coklat */
    --bg: #f3f3f3; /* abu-abu muda */
    --silver: #505050; /* silver */
    --g: #ffbb00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url('assets/img/background.jpg') no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;   /* biar full */        /* body ga bisa scroll */
    width: 100%;
    min-height: 100%;
    font-family: "Source Serif 4", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}